.App {
    font-family: 'Nunito', sans-serif;
}
.appTitle{
    color: #121212;
    margin: 30px 0 15px 0;
}
.tags{
    text-decoration: none;
    color: #121212;
    margin: 7px;
    font-size: medium;
    transition: all 0.5s;
}
.tags:hover{
    color: tomato;
    /* opacity: 60%; */
    cursor: pointer;
}
    